<table>
  <tr>
    <td><%= f.label :portugues %></td>
    <td><%= f.text_field :portugues%></td>
  </tr>
  <tr>
    <td><%= f.label :ingles %></td>
    <td><%= f.text_field :ingles%></td>
  </tr>
  <tr>
    <td> <%= f.submit acao %><td>
  </tr>
</table>
